.logo {
    font-family: var(--font-amalfi);
    color: var(--pink-color);

    h1 {
        font-size: 4.7em;
        margin: 0;
    }

    span {
        font-size: var(--m-font-size-relative);
        margin-top: -1vw;
        display: block;
        margin-left: 1rem;
    }
}