@font-face {
    font-family: 'Acrom';
    src: url('../public/Acrom/Acrom-Regular.72592368.ttf'),
        url('../public/Acrom/Acrom-Light.acf35e7c.ttf');
}

@font-face {
    font-family: 'Amalfi';
    src: url('../public/Amalfi/Amalfi-Regular.88d1d48d.woff') format('woff'),
        url('../public/Amalfi/Amalfi-Regular.4c78008e.woff2') format('woff2');
}

@font-face {
    font-family: 'Athiti';
    src: url('../public/Athiti/Athiti-Regular.5a140806.ttf'),
        url('../public/Athiti/Athiti-Light.280eee53.ttf'),
        url('../public/Athiti/Athiti-Bold.69921a86.ttf');
}

section,
.side__padding {
    padding: var(--side-padding);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

* {
    font-size: var(--base-font-size);
}

::selection {
    background: var(--pink-color);
    color: black;
}

::-moz-selection {
    background: var(--pink-color);
    color: black;
}

:root {
    --font-acrom: 'Acrom', sans-serif;
    --font-amalfi: 'Amalfi', cursive;
    --font-athiti: 'Athiti', sans-serif;

    --base-font-size: 1.04vw;
    --m-font-size-not-relative: 2.08vw;
    --m-font-size-relative: 2em;
    --header-font-size: 5.55em;
    --x-font-size: 12.35em;

    --side-padding: 0 15.63vw;

    --green-color: #BEE4D6;
    --pink-color: #FFC5D2;
    --orange-pale-color: #FFDEC5;
    --pink-pale-color: #F0E7E5;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    font-family: var(--font-amalfi);
    margin: 0;
}

h2 {
    font-size: var(--header-font-size);
}

p {
    font-family: var(--font-acrom);
}

button {
    font-family: var(--font-amalfi);
}